<div class="card__streamer-el">
    <%= link to: "#{@streamer["prefix"] <> @streamer["link"]}", class: "umami--click--#{String.replace(@streamer["name"], " ", "-")}" do %>
        <img src={"/img/" <> @streamer["icon"]} height="24" width="24" alt="Streaming service logo"/>
    <% end %>
</div>