<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="List of classical music composers grouped by periods."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"/>
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#fff"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "OpusClassical" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= render OpusClassicalWeb.PartialsView, "header.html", conn: @conn %>
    <main class="main" role="main"><%= @inner_content %></main>
    <%= render OpusClassicalWeb.PartialsView, "footer.html" %>
  </body>
</html>
